@charset "UTF-8";
.header__home {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 11px 0 5px 0;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.header__home .logo {
  display: flex;
  justify-content: center;
}
.header__home .logo .logo__siteLogo {
  font-family: "Shrikhand", serif;
  font-size: 25px;
  margin: 0;
}
@media (min-width: 767px) {
  .header__home .logo .logo__siteLogo {
    font-size: 36px;
  }
}
@media (min-width: 767px) {
  .header__home .logo {
    height: 82px;
    align-items: center;
  }
}

.header__restaurants {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 11px 0 5px 0;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.header__restaurants .left__arrow {
  margin: 0;
}
.header__restaurants .left__arrow a {
  color: black;
}
.header__restaurants .left__arrow i {
  font-size: 20px;
}
.header__restaurants .logo {
  display: flex;
  align-items: center;
}
.header__restaurants .logo .logo__siteLogo {
  font-family: "Shrikhand", serif;
  font-size: 25px;
  margin: 0;
  padding: 0 60px 0 42px;
}
@media (min-width: 767px) {
  .header__restaurants .logo .logo__siteLogo {
    font-size: 36px;
  }
}
@media (min-width: 767px) {
  .header__restaurants .logo {
    height: 82px;
  }
}

/*----------Sass section Footer------------*/
footer {
  background-color: #353535;
  padding: 2px 20px 18px 20px;
  color: white;
}
footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
footer ul li {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
}
footer ul li img {
  height: 11px;
  margin-right: 7px;
}
@media (min-width: 767px) {
  footer ul li img {
    height: 14px;
  }
}
@media (min-width: 767px) {
  footer ul li {
    font-size: 15px;
    margin-right: 25px;
  }
}
@media (min-width: 767px) {
  footer ul {
    display: flex;
  }
}
footer p {
  font-family: Shrikhand;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 12px;
}
@media (min-width: 767px) {
  footer p {
    display: flex;
    font-size: 17px;
    margin: 0 0 0 70px;
  }
}
@media (min-width: 767px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    padding: 50px 70px 30px 20px;
  }
}

.loader {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  height: 100vh;
  width: 100%;
  background: #fdfdfd;
  opacity: 0;
  animation: loading 3200ms 5ms ease-in forwards;
}
@keyframes loading {
  0% {
    opacity: 1;
    overflow: hidden;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
    display: none;
    overflow: auto;
  }
}
.loader .loader__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.loader .loader__content .loader__content__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* Animation du loader_letter */
  /* ----------------------------------------- */
}
.loader .loader__content .loader__content__items .loader__o {
  margin: 0;
  font-family: "Shrikhand", serif;
  font-size: 140px;
  text-shadow: 0px 8px 8px rgb(185, 184, 184);
}
.loader .loader__content .loader__content__items .loader__letter {
  animation: spin 1s ease-in-out 4;
  -webkit-animation: spin 1s ease-in-out 4;
}
@keyframes spin {
  0% {
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
  }
}
.loader .loader__content .loader__content__items .loader__icon {
  margin: 0 -26px 0 -19px;
  height: 80px;
}
.loader .loader__content .loader__text__logo .loader__logo {
  margin: -45px 0 0 0;
  width: 100%;
  font-family: "Shrikhand", serif;
  font-size: 17px;
  text-align: center;
}

/*----------Sass du header (header dans les layouts)------------*/
/*----------Sass Location------------*/
.location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  padding: 13px;
}
.location i {
  margin-right: 14px;
  color: #353535;
}
@media (min-width: 767px) {
  .location i {
    font-size: 16px;
  }
}
.location .location__city {
  margin: 0;
  font-size: 13px;
  font-weight: 600;
  color: #353535;
}
@media (min-width: 767px) {
  .location .location__city {
    font-size: 16px;
  }
}
@media (min-width: 767px) {
  .location {
    height: 30px;
  }
}

/*----------Sass section Search------------*/
.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F6F6F6;
  padding-bottom: 48px;
}
.search a {
  text-decoration: none;
}
.search .search__title {
  margin: 30px 0 0 0;
  text-align: center;
  font-size: 19px;
  font-weight: 600;
  padding: 0px 50px;
}
@media (min-width: 767px) {
  .search .search__title {
    font-size: 40px;
  }
}
.search .search__subtitle {
  margin: 10px 0 23px 0;
  text-align: center;
  font-size: 15px;
  font-weight: 300;
  line-height: normal;
  padding: 0px 22px;
  color: #353535;
}
@media (min-width: 767px) {
  .search .search__subtitle {
    font-size: 18px;
    margin: 30px 0 30px 0;
  }
}
@media (min-width: 767px) {
  .search {
    padding-bottom: 30px;
  }
}

/*----------Sass section Fonctionnement------------*/
.fonctionnement {
  padding: 20px 15px 36px 15px;
}
.fonctionnement .fonctionnement__title {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 20px;
}
@media (min-width: 767px) {
  .fonctionnement .fonctionnement__title {
    width: 100%;
    font-size: 23px;
    margin-bottom: 26px;
  }
}
.fonctionnement .fonctionnement__card {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 21px;
}
.fonctionnement .fonctionnement__card .fonctionnement__number {
  position: relative;
  margin: 0 -12px 0 0;
  font-size: 26px;
  color: #9356dc;
}
@media (min-width: 767px) {
  .fonctionnement .fonctionnement__card .fonctionnement__number {
    font-size: 30px;
  }
}
.fonctionnement .fonctionnement__card .fonctionnement__info {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 22px 26px;
  width: 80%;
  border-radius: 20px;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
@media (min-width: 767px) {
  .fonctionnement .fonctionnement__card .fonctionnement__info {
    height: 30px;
    margin-right: 30px;
  }
}
.fonctionnement .fonctionnement__card .fonctionnement__info i {
  margin-right: 15px;
  color: #7e7e7e;
}
@media (min-width: 767px) {
  .fonctionnement .fonctionnement__card .fonctionnement__info i {
    font-size: 19px;
    margin-right: 24px;
  }
}
.fonctionnement .fonctionnement__card .fonctionnement__info .fonctionnement__infoTitle {
  margin: 0;
  font-size: 13px;
  font-weight: 600;
}
@media (min-width: 767px) {
  .fonctionnement .fonctionnement__card .fonctionnement__info .fonctionnement__infoTitle {
    font-size: 16px;
  }
}
@media (min-width: 767px) {
  .fonctionnement .fonctionnement__card {
    width: 29%;
  }
}
.fonctionnement .fonctionnement__card__blue {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}
.fonctionnement .fonctionnement__card__blue .fonctionnement__number {
  position: relative;
  margin: 0 -12px 0 0;
  font-size: 26px;
  color: #9356dc;
}
@media (min-width: 767px) {
  .fonctionnement .fonctionnement__card__blue .fonctionnement__number {
    font-size: 30px;
  }
}
.fonctionnement .fonctionnement__card__blue .fonctionnement__info {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 22px 26px;
  width: 80%;
  border-radius: 20px;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
@media (min-width: 767px) {
  .fonctionnement .fonctionnement__card__blue .fonctionnement__info {
    height: 30px;
  }
}
.fonctionnement .fonctionnement__card__blue .fonctionnement__info i {
  margin-right: 15px;
  color: #9356dc;
}
.fonctionnement .fonctionnement__card__blue .fonctionnement__info .fonctionnement__infoTitle {
  margin: 0;
  font-size: 13px;
  font-weight: 600;
}
@media (min-width: 767px) {
  .fonctionnement .fonctionnement__card__blue .fonctionnement__info .fonctionnement__infoTitle {
    font-size: 16px;
  }
}
@media (min-width: 767px) {
  .fonctionnement .fonctionnement__card__blue {
    width: 24%;
  }
}
@media (min-width: 767px) {
  .fonctionnement {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px 15px 30px 12%;
  }
}

/*----------Sass section Restaurants Cards------------*/
.restaurants {
  padding: 30px 14px;
  background-color: #F6F6F6;
}
.restaurants .restaurants__cards__link {
  text-decoration: none;
  color: #000000;
}
@media (min-width: 767px) {
  .restaurants .restaurants__cards__link {
    width: 38%;
    margin-right: 8%;
  }
}
.restaurants .restaurants__title {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 16px;
}
@media (min-width: 767px) {
  .restaurants .restaurants__title {
    width: 100%;
    font-size: 23px;
    margin-bottom: 25px;
  }
}
.restaurants .restaurants__cards {
  background-color: white;
  margin-bottom: 20px;
  border-radius: 15px;
  position: relative;
}
@media (min-width: 767px) {
  .restaurants .restaurants__cards {
    margin-right: 8%;
  }
}
.restaurants .restaurants__cards img {
  height: 140px;
  width: 100%;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}
@media (min-width: 767px) {
  .restaurants .restaurants__cards img {
    height: 170px;
  }
}
.restaurants .restaurants__cards .restaurants__cards__new__tag {
  display: flex;
  height: 20px;
  position: absolute;
  top: 10px;
  right: 0px;
  bottom: 0;
  left: 73%;
}
.restaurants .restaurants__cards .restaurants__cards__new__tag p {
  margin: 0;
  padding: 5px 10px 3px 10px;
  height: 15px;
  border-radius: 1px;
  font-size: 11px;
  font-weight: 500;
  color: #008766;
  background: #99E2D0;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
}
.restaurants .restaurants__cards .restaurants__cardsContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px 10px 14px 10px;
  /* i {
      height: 18px;
      padding-top: 14px;


      @media (min-width: 767px) {
          font-size: 24px;
      }
  }
  */
}
.restaurants .restaurants__cards .restaurants__cardsContent h3 {
  font-size: 15px;
  font-weight: 800;
  padding-top: 10px;
  margin: 0;
}
@media (min-width: 767px) {
  .restaurants .restaurants__cards .restaurants__cardsContent h3 {
    font-size: 17px;
    font-weight: 600;
  }
}
.restaurants .restaurants__cards .restaurants__cardsContent .heart_icon {
  width: 17px;
  height: 17px;
  margin-top: 15px;
  padding-right: 15px;
  background-image: url(./../assets/images/icons/coeur_vide.png);
  background-repeat: no-repeat;
  background-size: contain;
  transition: background-image 0.6s;
}
.restaurants .restaurants__cards .restaurants__cardsContent .heart_icon:hover {
  background-image: url(./../assets/images/icons/coeur_rempli.png);
}
@media (min-width: 767px) {
  .restaurants .restaurants__cards .restaurants__cardsContent .heart_icon {
    width: 24px;
    height: 20px;
    padding-right: 0px;
  }
}
.restaurants .restaurants__cards .restaurants__cardsContent p {
  font-size: 14px;
  font-weight: 300;
  margin: 0 0 0 0;
  width: 100%;
}
@media (min-width: 767px) {
  .restaurants .restaurants__cards .restaurants__cardsContent p {
    font-size: 16px;
  }
}
@media (min-width: 767px) {
  .restaurants .restaurants__cards .restaurants__cardsContent {
    padding: 0 24px 20px 20px;
  }
}
@media (min-width: 767px) {
  .restaurants {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 10px 0 10px 12%;
  }
}

/*----------Sass du header --> layout/header.scss------------*/
.hero {
  padding: 0;
  width: 100%;
}
.hero img {
  width: 100%;
  object-fit: cover;
}
@media (min-width: 767px) {
  .hero img {
    height: 350px;
    object-position: center;
  }
}

/*----------Sass de la section Menu------------*/
.menu__section {
  background-color: #F6F6F6;
  position: relative;
  border-radius: 35px;
  margin-top: -34px;
  padding: 26px 12px;
}
.menu__section .menu__section__title {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /*i {
      font-size: 18px;
      margin-left: 25px;

      @media (min-width: 767px) {
          font-size: 23px;
      }
  }*/
}
.menu__section .menu__section__title h1 {
  font-size: 23px;
  font-family: "Shrikhand", serif;
  font-weight: 400;
  margin: 0;
}
@media (min-width: 767px) {
  .menu__section .menu__section__title h1 {
    font-size: 27px;
  }
}
.menu__section .menu__section__title .coeur {
  background-image: url(./../assets/images/icons/coeur_vide.png);
  width: 18px;
  height: 18px;
  margin-left: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  transition: background-image 0.6s;
}
.menu__section .menu__section__title .coeur:hover {
  background-image: url(./../assets/images/icons/coeur_rempli.png);
}
.menu__section .menu__section__content {
  padding: 11px 10px 0 0;
  /*-----Animations d'entrées-----*/
  /*-----Fin des animations d'entrées-----*/
}
.menu__section .menu__section__content .starts__dishes {
  opacity: 0;
  animation: fadein 1300ms 1000ms ease-in forwards;
}
.menu__section .menu__section__content .main__dishes {
  opacity: 0;
  animation: fadein 1300ms 1800ms ease-in forwards;
}
.menu__section .menu__section__content .dessert__dishes {
  opacity: 0;
  animation: fadein 1300ms 2500ms ease-in forwards;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.menu__section .menu__section__content h2 {
  font-size: 13px;
  font-weight: 300;
}
.menu__section .menu__section__content h2:after {
  content: "";
  display: block;
  width: 32px;
  height: 3px;
  margin-top: 5px;
  background: #99e2d0;
}
@media (min-width: 767px) {
  .menu__section .menu__section__content h2 {
    font-size: 15px;
  }
}
@media (min-width: 767px) {
  .menu__section .menu__section__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
  }
}
.menu__section .menu__section__content__item {
  display: flex;
  width: 100%;
  overflow: hidden;
  background-color: white;
  border-radius: 15px;
  padding: 0 0 0 11px;
  margin-bottom: 10px;
  box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.1);
}
.menu__section .menu__section__content__item .menu__section__content__title {
  padding: 11px 0 11px 0;
  overflow: hidden;
  width: 100%;
  flex-basis: 100%;
}
.menu__section .menu__section__content__item .menu__section__content__title h3 {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
@media (min-width: 767px) {
  .menu__section .menu__section__content__item .menu__section__content__title h3 {
    font-size: 18px;
  }
}
.menu__section .menu__section__content__item .menu__section__content__title p {
  font-size: 12px;
  font-weight: 300;
  margin: 5px 0 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media (min-width: 767px) {
  .menu__section .menu__section__content__item .menu__section__content__title p {
    font-size: 14px;
  }
}
.menu__section .menu__section__content__item .menu__section__content__price {
  display: flex;
  align-items: end;
  padding: 0 11px 11px 0;
  margin-right: -45px;
}
.menu__section .menu__section__content__item .menu__section__content__price .menu__section__content__item__price {
  font-size: 12px;
  font-weight: 600;
  margin: 5px 0 0 0px;
}
@media (min-width: 767px) {
  .menu__section .menu__section__content__item .menu__section__content__price .menu__section__content__item__price {
    font-size: 14px;
  }
}
.menu__section .menu__section__content__item .restaurant__menu__checkbox {
  background: #99e2d0;
  display: flex;
  align-items: center;
  padding: 15px;
  border-radius: 0 15px 15px 0;
  position: relative;
  right: -46px;
  transition: all 0.8s ease;
}
.menu__section .menu__section__content__item .menu-checkbox .checked,
.menu__section .menu__section__content__item .menu-checkbox .unchecked {
  color: white;
}
.menu__section .menu__section__content__item .menu-checkbox input[type=checkbox],
.menu__section .menu__section__content__item .menu-checkbox .checked {
  display: none;
}
.menu__section .menu__section__content__item .menu-checkbox input[type=checkbox]:checked ~ .checked {
  display: inline-block;
}
.menu__section .menu__section__content__item .menu-checkbox input[type=checkbox]:checked ~ .unchecked {
  display: none;
}
@media (min-width: 767px) {
  .menu__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    padding: 50px 0 30px 0;
    margin: -40px auto 0px auto;
    border-radius: 35px 35px 0 0;
  }
}

.menu__section__content__item:hover {
  cursor: pointer;
}
.menu__section__content__item:hover .restaurant__menu__checkbox {
  margin-right: 46px;
}

/*----------Sass de la section order CTA------------*/
.order__cta {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0 10px 0;
}
.order__cta .cta__button {
  padding: 20px 40px;
}

/*----------Sass section Footer -> layouts/_footer.scss------------*/
.cta__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 41px;
  padding: 6px 19px;
  font-size: 13px;
  font-weight: 500;
  color: white;
  border-radius: 25px;
  border: none;
  background: linear-gradient(193deg, #9356DC, transparent) #9356DC;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  transition: background-color 1s;
}
.cta__button:hover {
  background-color: #FF79DA;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
  cursor: pointer;
}
@media (min-width: 767px) {
  .cta__button {
    font-size: 16px;
    font-weight: 500;
    height: 48px;
    padding: 0px 22px;
  }
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

/*# sourceMappingURL=style.css.map */
