.logo {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 13px 0 5px 0;
}
.logo .logo__siteLogo {
  font-family: "Shrikhand", serif;
  font-size: 28px;
  margin: 0;
}

/*----------Sass section Footer------------*/
footer {
  background-color: #353535;
  padding: 10px;
  color: white;
}
footer p {
  margin: 0;
}

/*----------Sass du header------------*/
.location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
  padding: 15px;
}
.location i {
  margin-right: 14px;
  color: #353535;
}
.location .location__city {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  color: #353535;
}

/*----------Sass section Search------------*/
.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F6F6F6;
}
.search .search__title {
  margin: 35px 0 0 0;
  text-align: center;
  font-size: 22px;
  padding: 0px 30px;
}
.search .search__subtitle {
  margin: 10px 0 0 0;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  padding: 0px 22px;
  color: #353535;
}
.search .search__button {
  margin: 27px 0 50px 0;
  height: 50px;
}

/*----------Sass section Fonctionnement------------*/
.fonctionnement {
  padding: 30px 20px;
}
.fonctionnement .fonctionnement__title {
  font-size: 22px;
  font-weight: 700;
}
.fonctionnement .fonctionnement__card {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}
.fonctionnement .fonctionnement__card .fonctionnement__number {
  margin: 0;
  font-size: 28px;
  color: #9356DC;
}
.fonctionnement .fonctionnement__card .fonctionnement__info {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 25px;
  width: 80%;
  border-radius: 20px;
  background-color: #F6F6F6;
}
.fonctionnement .fonctionnement__card .fonctionnement__info i {
  margin-right: 10px;
}
.fonctionnement .fonctionnement__card .fonctionnement__info .fonctionnement__infoTitle {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
}

/*----------Sass section Restaurants Cards------------*/
.restaurants {
  padding: 30px 17px;
  background-color: #F6F6F6;
}
.restaurants .restaurants__title {
  font-size: 22px;
  font-weight: 700;
}
.restaurants .restaurants__cards {
  background-color: white;
  margin-bottom: 20px;
  border-radius: 15px;
}
.restaurants .restaurants__cards img {
  height: 140px;
  width: 100%;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}
.restaurants .restaurants__cards .restaurants__cardsContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.restaurants .restaurants__cards .restaurants__cardsContent h3 {
  font-size: 16px;
  font-weight: 700;
  width: 100%;
  margin: 0;
}
.restaurants .restaurants__cards .restaurants__cardsContent p {
  font-size: 14px;
  font-weight: 300;
  margin: 5px 0;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

/*----------Sass du header------------*/
.hero {
  padding: 0;
}
.hero img {
  height: 275px;
  width: 100%;
  object-fit: cover;
}

/*----------Sass de la section Menu------------*/
.menu__section {
  background-color: #F6F6F6;
  padding: 10px;
  border-radius: 15px;
}
.menu__section h1 {
  font-size: 22px;
  font-family: "Shrikhand", serif;
  font-weight: 400;
}
.menu__section .menu__section__content h2 {
  font-size: 14px;
  font-weight: 300;
}
.menu__section .menu__section__content__item {
  background-color: white;
  border-radius: 15px;
  padding: 15px;
  margin-bottom: 10px;
}
.menu__section .menu__section__content__item h3 {
  font-size: 16px;
  margin: 0;
}
.menu__section .menu__section__content__item p {
  font-size: 12px;
  margin-top: 5px;
}
.menu__section .menu__section__content__item .menu__section__content__item__price {
  font-size: 12px;
  margin-top: 5px 0 0 0;
}

.order__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

/*----------Sass section Footer------------*/
footer {
  background-color: #353535;
  padding: 10px;
  color: white;
}
footer p {
  margin: 0;
}


body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

/*# sourceMappingURL=style.css.map */
