body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

$main-text-color: #000000;
$secondary-text-color: #353535;

$section-grey-bkg: #F6F6F6;

@mixin section-title {
    font-size: 22px;
    font-weight: 700;

}

/*----------Sass du header------------*/

.logo {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 13px 0 5px 0;

    .logo__siteLogo {
        font-family: 'Shrikhand', serif;
        font-size: 28px;
        margin: 0;
    }
}

.location {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EAEAEA;
    padding: 15px;


    i {
        margin-right: 14px;
        color: $secondary-text-color;
    }

    .location__city {
        margin: 0;
        font-size: 14px;
        font-weight: 500;
        color: $secondary-text-color;
    }
}

/*----------Sass section Search------------*/
.search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $section-grey-bkg;


    .search__title {
        margin: 35px 0 0 0;
        text-align: center;
        font-size: 22px;
        padding: 0px 30px;
    }

    .search__subtitle {
        margin: 10px 0 0 0;
        text-align: center;
        font-size: 16px;
        font-weight: 300;
        padding: 0px 22px;
        color: $secondary-text-color;
    }

    .search__button {
        margin: 27px 0 50px 0;
        height: 50px;
    }
}

/*----------Sass section Fonctionnement------------*/

.fonctionnement {
    padding: 30px 20px;

    .fonctionnement__title {
        @include section-title;
    }

    .fonctionnement__card {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 20px;

        .fonctionnement__number {
            margin: 0;
            font-size: 28px;
            color: #9356DC;
        }

        .fonctionnement__info {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 25px;
            width: 80%;
            border-radius: 20px;
            background-color: $section-grey-bkg;

            i {
                margin-right: 10px;
            }

            .fonctionnement__infoTitle {
                margin: 0;
                font-size: 14px;
                font-weight: 500;
            }

        }
    }



}