/*----------Sass du header (header dans les layouts)------------*/

/*----------Sass Location------------*/

.location {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eaeaea;
    padding: 13px;

    i {
        margin-right: 14px;
        color: $secondary-text-color;

        @media (min-width: 767px) {
            font-size: 16px;
        }
    }

    .location__city {
        margin: 0;
        font-size: 13px;
        font-weight: 600;
        color: $secondary-text-color;

        @media (min-width: 767px) {
            font-size: 16px;
        }
    }

    @media (min-width: 767px) {
        height: 30px;
    }
}

/*----------Sass section Search------------*/
.search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $section-grey-bkg;
    padding-bottom: 48px;

    .search__title {
        margin: 30px 0 0 0;
        text-align: center;
        font-size: 19px;
        font-weight: 600;
        padding: 0px 50px;

        @media (min-width: 767px) {
            font-size: 40px;
        }
    }

    .search__subtitle {
        margin: 10px 0 23px 0;
        text-align: center;
        font-size: 15px;
        font-weight: 300;
        line-height: normal;
        padding: 0px 22px;
        color: $secondary-text-color;

        @media (min-width: 767px) {
            font-size: 18px;
            margin: 30px 0 30px 0;
        }
    }

    @media (min-width: 767px) {
        padding-bottom: 30px;
    }
}

/*----------Sass section Fonctionnement------------*/

.fonctionnement {
    padding: 20px 15px 36px 15px;

    .fonctionnement__title {
        font-size: 20px;
        font-weight: 800;
        margin-bottom: 20px;

        @media (min-width: 767px) {
            width: 100%;
            font-size: 23px;
            margin-bottom: 26px;
        }
    }

    .fonctionnement__card {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 21px;

        .fonctionnement__number {
            position: relative;
            margin: 0 -12px 0 0;
            font-size: 26px;
            color: #9356dc;

            @media (min-width: 767px) {
                font-size: 30px;
            }
        }

        .fonctionnement__info {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 22px 26px;
            width: 80%;
            border-radius: 20px;
            background-color: $section-grey-bkg;
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);

            @media (min-width: 767px) {
                height: 30px;
                margin-right: 8%;
            }

            i {
                margin-right: 15px;
                color: #7e7e7e;

                @media (min-width: 767px) {
                    font-size: 19px;
                    margin-right: 24px;
                }
            }

            .fonctionnement__infoTitle {
                margin: 0;
                font-size: 13px;
                font-weight: 600;

                @media (min-width: 767px) {
                    font-size: 16px;
                }
            }
        }

        @media (min-width: 767px) {
            width: 24%;
        }
    }

    .fonctionnement__card__blue {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 20px;

        .fonctionnement__number {
            position: relative;
            margin: 0 -12px 0 0;
            font-size: 26px;
            color: #9356dc;

            @media (min-width: 767px) {
                font-size: 30px;
            }
        }

        .fonctionnement__info {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 22px 26px;
            width: 80%;
            border-radius: 20px;
            background-color: $section-grey-bkg;
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);

            @media (min-width: 767px) {
                height: 30px;
            }

            i {
                margin-right: 15px;
                color: #9356dc;
            }

            .fonctionnement__infoTitle {
                margin: 0;
                font-size: 13px;
                font-weight: 600;

                @media (min-width: 767px) {
                    font-size: 16px;
                }
            }
        }

        @media (min-width: 767px) {
            width: 24%;
        }
    }

    @media (min-width: 767px) {
        display: flex;
        flex-wrap: wrap;
        align-items: center;


        padding: 20px 15px 30px 12%;
    }
}

/*----------Sass section Restaurants Cards------------*/

.restaurants {
    padding: 30px 14px;
    background-color: $section-grey-bkg;

    .restaurants__title {
        font-size: 20px;
        font-weight: 800;
        margin-bottom: 16px;

        @media (min-width: 767px) {
            width: 100%;
            font-size: 23px;
            margin-bottom: 25px;
        }
    }

    .restaurants__cards {
        background-color: white;
        margin-bottom: 20px;
        border-radius: 15px;

        @media (min-width: 767px) {
            width: 38%;
            margin-right: 8%;
        }

        img {
            height: 140px;
            width: 100%;
            border-radius: 15px 15px 0 0;
            object-fit: cover;

            @media (min-width: 767px) {
                height: 170px;
            }
        }

        .restaurants__cardsContent {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 0px 10px 18px 10px;

            h3 {
                font-size: 15px;
                font-weight: 800;
                padding-top: 10px;
                margin: 0;

                @media (min-width: 767px) {
                    font-size: 17px;
                    font-weight: 600;
                }
            }

            i {
                height: 18px;
                padding-top: 14px;

                @media (min-width: 767px) {
                    font-size: 24px;
                }
            }

            p {
                font-size: 14px;
                font-weight: 300;
                margin: -5px 0;
                width: 100%;

                @media (min-width: 767px) {
                    font-size: 16px;
                }
            }

            @media (min-width: 767px) {
                padding: 0 24px 20px 20px;
            }
        }
    }

    @media (min-width: 767px) {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding: 10px 0 10px 12%;
    }
}