/*----------Sass du header --> layout/header.scss------------*/

// HERO
.hero {
    padding: 0;
    width: 100%;

    img {
        width: 100%;
        height: 202px;
        object-fit: cover;

        @media (min-width: 767px) {
            height: 350px;
            object-position: center;
        }
    }
}

/*----------Sass de la section Menu------------*/

.menu__section {
    background-color: $section-grey-bkg;
    position: relative;
    border-radius: 35px;
    margin-top: -34px;
    padding: 26px 12px;

    // ENTETE DE LA SECTION

    .menu__section__title {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding-right: 6%;

        h1 {
            font-size: 23px;
            font-family: "Shrikhand", serif;
            font-weight: 400;
            margin: 0;

            @media (min-width: 767px) {
                font-size: 27px;
            }
        }

        .coeur {
            background-image: url(./../assets/images/icons/coeur_vide.png);
            width: 18px;
            height: 18px;
            background-size: contain;
            background-repeat: no-repeat;
            transition: background-image 0.5s;

            &:hover {
                background-image: url(./../assets/images/icons/coeur_rempli.png);
            }

            @media (min-width: 767px) {
                margin-left: 24px;
            }
        }
    }

    // CONTENU DE LA SECTION

    .menu__section__content {
        padding: 11px 10px 0 0;

        /*-----Animations d'entrées-----*/

        .starts__dishes {
            opacity: 0;
            animation: fadein 1300ms 1000ms ease-in forwards;
        }

        .main__dishes {
            opacity: 0;
            animation: fadein 1300ms 1800ms ease-in forwards;
        }

        .dessert__dishes {
            opacity: 0;
            animation: fadein 1300ms 2500ms ease-in forwards;
        }

        @keyframes fadein {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }

        /*-----Fin des animations d'entrées-----*/

        h2 {
            font-size: 13px;
            font-weight: 300;

            &:after {
                content: "";
                display: block;
                width: 32px;
                height: 3px;
                margin-top: 5px;
                background: #99e2d0;
            }

            @media (min-width: 767px) {
                font-size: 15px;
            }
        }

        @media (min-width: 767px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 65%;
        }
    }

    .menu__section__content__item {
        display: flex;
        width: 100%;
        overflow: hidden;
        background-color: white;
        border-radius: 15px;
        padding: 0 0 0 11px;
        margin-bottom: 10px;
        box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.1);

        .menu__section__content__title {
            padding: 11px 0 11px 0;
            overflow: hidden;
            width: 100%;
            flex-basis: 100%;

            h3 {
                font-size: 14px;
                font-weight: 500;
                margin: 0;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;

                @media (min-width: 767px) {
                    font-size: 18px;
                }
            }

            p {
                font-size: 12px;
                font-weight: 300;
                margin: 5px 0 0 0;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                @media (min-width: 767px) {
                    font-size: 14px;
                }
            }
        }

        .menu__section__content__price {
            display: flex;
            align-items: end;
            padding: 0 11px 11px 0;
            margin-right: -45px;

            .menu__section__content__item__price {
                font-size: 12px;
                font-weight: 600;
                margin: 5px 0 0 0px;

                @media (min-width: 767px) {
                    font-size: 14px;
                }
            }
        }

        // Dev de la checkbox
        .restaurant__menu__checkbox {
            background: #99e2d0;
            display: flex;
            align-items: center;
            padding: 15px;
            border-radius: 0 15px 15px 0;

            position: relative;
            right: -46px;
            transition: all 0.8s ease;
        }

        .menu-checkbox {

            .checked,
            .unchecked {
                color: white;
            }

            input[type="checkbox"],
            .checked {
                display: none;
            }

            input[type="checkbox"]:checked~.checked {
                display: inline-block;
            }

            input[type="checkbox"]:checked~.unchecked {
                display: none;
            }
        }

        // End dev checkbox

        @media (min-width: 767px) {}
    }

    @media (min-width: 767px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 75%;
        padding: 50px 0 30px 0;
        margin: -40px auto 0px auto;
        border-radius: 35px 35px 0 0;
    }
}

// ANIMATION DE LA CHECKBOX VERTE

.menu__section__content__item:hover {
    cursor: pointer;

    .restaurant__menu__checkbox {
        margin-right: 46px;
    }
}

/*----------Sass de la section order CTA------------*/
.order__cta {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0 10px 0;

    .cta__button {
        padding: 20px 40px;
    }
}

/*----------Sass section Footer -> layouts/_footer.scss------------*/