.cta__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 41px;
    padding: 6px 19px;
    font-size: 13px;
    font-weight: 500;
    color: white;
    border-radius: 25px;
    border: none;
    background: linear-gradient(193deg, #9356DC, transparent) #9356DC;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    transition: background-color 1s;
    

    &:hover {
        background-color: #FF79DA;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
        
        cursor: pointer;
    }

    @media (min-width:767px) {
        font-size: 16px;
        font-weight: 500;
        height: 48px;
        padding: 0px 22px;
    }

}