// SIMPLE HEADER WITH LOGO


.logo {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 11px 0 5px 0;
    position: relative;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);

    .logo__siteLogo {
        font-family: 'Shrikhand', serif;
        font-size: 25px;
        margin: 0;
        @media (min-width:767px){
            font-size: 36px;
        }
    }
    @media (min-width:767px){
        height: 82px;
        align-items: center;
    }
}
